# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Environment
.env
.DS_Store

# Local data
data/raw/*
data/processed/*
data/output/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/output/.gitkeep

# Logs
*.log
logs/
